/*-------sign in page---------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(blue1.jpeg);
    background-repeat: no-repeat;
    background-size: 102%;
  }
  
  .container {
    text-align: center;
    background-color: transparent;
    padding: 30px;
    border-radius: 5px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  #error-message {
    color: red;
  }